<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Painel Aministrativo</h1>
        <p class="lead">Aqui você pode criar, editar e deletar suas categorias e postagens.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Categorias</h5>
                <p class="card-text">Crie categorias para suas postagens</p>
                <a href="/admin/categorias" class="btn btn-primary">Vamos lá</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Postagens</h5>
                <p class="card-text">Faça suas postagens</p>
                <a href="/admin/postagens" class="btn btn-primary">Vamos lá</a>
            </div>
        </div>
    </div>
</div>